@charset "UTF-8";
.login-section {
  background: url("../images/bg-img/credential-bd.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/* login section start */
.credential-div {
  padding: 75px 15px;
  height: 100vh;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 38, 63, 0.8);
  color: #FFF;
}
.credential-div .form {
  background: rgba(18, 38, 63, 0.5);
  max-width: 375px;
  width: 100%;
}
.credential-div .form h2 {
  background: rgba(18, 38, 63, 0.7);
  padding: 25px 25px 20px;
  font-size: 27px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.credential-div .form form {
  padding: 15px 25px 0;
}
.credential-div .form form label {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.credential-div .form form input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  background: none;
  color: rgba(255, 255, 255, 0.8) !important;
  padding-left: 0;
  margin-bottom: 25px;
  font-weight: 300;
}
.credential-div .form form input:focus {
  background: none;
}
.credential-div .form form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.credential-div .form form input[type=checkbox] {
  display: none;
}
.credential-div .form form input[type=checkbox] + label:before {
  content: "✔";
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: top;
  text-align: center;
  margin: 3px 8px 0 -19px;
  color: transparent;
  transition: 0.2s;
  font-size: 10px;
}
.credential-div .form form input[type=checkbox]:checked + label:before {
  background-color: rgba(18, 38, 63, 0.6);
  border-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
.credential-div .form form button {
  text-align: center;
  margin: 15px 8px 0 1px;
  background: rgba(18, 38, 63, 0.3);
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  box-shadow: none;
  border: 1px solid rgba(37, 79, 130, 0.3);
  cursor: pointer;
}
.credential-div .form form button:hover {
  color: #FFF;
}
.credential-div .form form a {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 3px;
  font-weight: 300;
}
.credential-div .form form a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

/* login section end */
/* company title start */
.company-title {
  width: calc(100% - 500px);
  height: 100vh;
  padding: 75px 0;
  background: rgba(0, 131, 203, 0.2);
}

/* company title end */
/* responsive style start */
@media only screen and (max-width: 992px) {
  .credential-div,
.company-title {
    width: 100% !important;
    min-height: 50vh;
    height: auto;
  }
}
/* responsive style end */

/*# sourceMappingURL=credential.css.map */
