@charset "UTF-8";
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

p {
  font-size: 15px;
  color: #212529;
}

ul, ol {
  list-style-type: none;
}

.io-15 {
  font-size: 15px;
}

.io-16 {
  font-size: 16px;
}

.io-17 {
  font-size: 17px;
}

.io-18 {
  font-size: 18px;
}

.io-19 {
  font-size: 19px;
}

.io-20 {
  font-size: 20px;
}

.io-22 {
  font-size: 22px;
}

.io-24 {
  font-size: 24px;
}

.io-25 {
  font-size: 25px;
}

.io-26 {
  font-size: 26px;
}

.io-27 {
  font-size: 27px;
}

.io-28 {
  font-size: 28px;
}

.io-30 {
  font-size: 30px;
}

.io-32 {
  font-size: 32px;
}

/* common style start */
.wrapper {
  display: flex;
  width: 100%;
  background: #F5F9FC;
}
.wrapper .column {
  width: 100%;
  height: 100vh;
}

.brand, .main-nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

.aside-nav, .body-container {
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
}

/* common style end */
/* brand style start */
.brand {
  padding: 0 20px;
  height: 70px;
  font-weight: 300;
  line-height: 70px;
  overflow: hidden;
}
.brand span {
  color: #FFF;
  font-size: 21px;
  font-weight: 400;
}
.brand a {
  float: right;
  cursor: default;
  float: right;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  color: #FFF;
}
.brand #aside-close {
  cursor: pointer;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #4f5c70;
  transition: all 0.2s;
}
.brand #aside-close:hover {
  background: #727CF5;
}

.wrapper.aside-close .aside {
  opacity: 0;
  max-width: 0;
}
.wrapper.aside-close .aside .aside-nav {
  display: none;
}

/* brand style end */
/* aside nav style start */
.column.aside {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 250px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  z-index: 1001;
  background: linear-gradient(to bottom, #8279E7, #727CF5);
}

.aside-nav {
  padding: 20px;
}
.aside-nav h6 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.aside-nav li {
  border: 1px solid transparent;
}
.aside-nav li a {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  height: 40px;
  line-height: 40px;
}
.aside-nav li a i {
  margin-right: 17px;
  vertical-align: top;
  line-height: 42px;
  display: inline-block;
}
.aside-nav li a .badge {
  top: 20px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
  padding: 4px 7px 3px;
  border-radius: 10px;
  background: #E3EAEF;
  color: #000;
}
.aside-nav li a:hover {
  color: #FFF;
}
.aside-nav li.active > a {
  color: #FFF;
}
.aside-nav li .float-right i {
  margin-right: 6px;
}
.aside-nav li ul {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.aside-nav li ul a {
  padding-left: 33px;
}
.aside-nav li.active ul {
  max-height: 100vh;
  opacity: 1;
}
.aside-nav li i.down {
  display: none;
}
.aside-nav li.active i.down {
  display: inherit;
}
.aside-nav li.active i.right {
  display: none;
}

/* aside style end */
/* settings content start */
.settings-content {
  position: fixed;
  top: 0;
  right: -100%;
  max-width: 250px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  z-index: 1001;
  opacity: 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.05);
}
.settings-content .settings-nav {
  background: #3A3F51;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  padding: 0 15px;
  height: 70px;
  line-height: 70px;
  width: 100%;
  font-weight: 300;
  overflow: hidden;
}
.settings-content .settings-nav span {
  color: #FFF;
  font-size: 18px;
}
.settings-content .settings-nav a {
  float: right;
  height: 70px;
  line-height: 70px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  color: #FFF;
}
.settings-content .settings-nav a i {
  cursor: pointer;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #4f5c70;
  transition: all 0.2s;
}
.settings-content .settings-nav a i:hover {
  background: #727CF5;
}
.settings-content .settings-menu {
  width: 100%;
  background: #FFF;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.settings-content.open {
  opacity: 1;
  right: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #727cf5;
}

.timeline-alt {
  padding: 20px 0;
  position: relative;
}
.timeline-alt:before {
  background-color: #e3eaef;
  bottom: 30px;
  content: "";
  left: 9px;
  position: absolute;
  top: 30px;
  width: 2px;
  z-index: 0;
}
.timeline-alt .timeline-item {
  position: relative;
}
.timeline-alt .timeline-item .timeline-icon {
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  background-color: #fff;
}
.timeline-alt .timeline-item .timeline-item-info {
  margin-left: 30px;
}
.timeline-alt .text-info {
  color: #39afd1 !important;
}
.timeline-alt a.text-info:focus, .timeline-alt a.text-info:hover {
  color: #2991ae !important;
}
.timeline-alt .text-muted {
  color: #98a6ad !important;
}
.timeline-alt .mdi-upload:before {
  content: "";
}
.timeline-alt .mdi-upload-multiple:before {
  content: "";
}
.timeline-alt .mdi-upload-network:before {
  content: "";
}
.timeline-alt .mdi-airplane:before {
  content: "";
}
.timeline-alt .mdi-airplane-landing:before {
  content: "";
}
.timeline-alt .mdi-airplane-off:before {
  content: "";
}
.timeline-alt .mdi-airplane-takeoff:before {
  content: "";
}

/* settings content end */
/* body nav style start */
.main-nav {
  padding: 0 20px;
  background: #FFF;
}
.main-nav ul {
  height: 70px;
  line-height: 70px;
  margin: 0;
}
.main-nav ul li {
  float: left;
}
.main-nav ul.float-right li {
  margin-left: 20px;
}
.main-nav ul a {
  color: #727CF5;
}
.main-nav ul img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #727CF5;
  padding: 2px;
  background: #ddd;
  margin-top: -5px;
}
.main-nav ul .dropdown {
  position: relative;
}
.main-nav ul .dropdown .sub-menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  border: 1px solid #ddd;
  position: absolute;
  top: 150%;
  max-width: 240px;
  width: 235px;
  opacity: 0;
  right: 0;
  background: white;
  z-index: -9;
  transition: all 0.2s;
  height: auto;
}
.main-nav ul .dropdown .sub-menu li {
  margin: 0;
  width: 100%;
  height: auto;
  line-height: 24px;
}
.main-nav ul .dropdown .sub-menu li.head {
  background: #EDF1F2;
}
.main-nav ul .dropdown .sub-menu li.head a {
  padding: 12px 15px 8px;
}
.main-nav ul .dropdown .sub-menu li.head h6 {
  font-weight: 400;
  margin: 0;
}
.main-nav ul .dropdown .sub-menu li.head:hover {
  background: #F5F5F5;
}
.main-nav ul .dropdown .sub-menu li a {
  border-bottom: 1px solid #EDF1F2;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  padding: 7px 15px;
  color: #58666E;
}
.main-nav ul .dropdown .sub-menu li a:hover {
  color: #727CF5;
}
.main-nav ul .dropdown .sub-menu li a .badge {
  font-size: 11px;
  font-weight: 400;
  margin-top: 3px;
  padding: 4px 7px 3px;
  border-radius: 10px;
  background: #6C757D;
  color: #FFF;
}
.main-nav ul .dropdown .sub-menu small {
  display: inline-block;
  width: 100%;
}
.main-nav ul .dropdown.active ul.sub-menu {
  opacity: 1;
  top: 103%;
  z-index: 999;
}

/* body nav style end */
/* body header and nav start */
.body-header {
  width: 100%;
  min-height: 54px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 35px;
  padding: 22px 5px 0;
}
.body-header h3 {
  font-size: 22px;
  margin: 0;
  color: #727CF5;
}
.body-header ul {
  margin: 0;
}
.body-header ul li {
  float: left;
}
.body-header ul li a {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: -1px;
  font-size: 15px;
  padding-bottom: 3px;
  color: rgba(0, 0, 0, 0.85);
}
.body-header ul li a:hover, .body-header ul li a.active {
  color: #727CF5;
  border-bottom: 1px solid #727CF5;
}
.body-header ul.float-left a {
  margin-right: 20px;
}
.body-header ul.float-right a {
  margin-left: 20px;
}

/* body header and nav end */
/* body content start */
.body-content {
  padding: 5px;
  width: 100%;
}

/* body content end */
/* alert style start */
.alert {
  border-radius: 0;
  margin-bottom: 20px;
}

/* alert style end */
/* form style start */
form {
  font-size: 15px;
  margin: -5px 0 30px;
}
form label {
  color: rgba(0, 0, 0, 0.6);
}
form .required label:after {
  content: " *";
  color: #D9534F;
}
form .form-control {
  border-radius: 0;
}
form .form-control:focus {
  box-shadow: none;
  border-color: rgba(114, 124, 245, 0.7);
}
form .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
form .form-control::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
form .form-check {
  padding-top: 5px;
  cursor: pointer;
}
form .form-check input {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
form .form-check label {
  cursor: pointer;
}
form .btn {
  border: none;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  min-width: 90px;
  font-size: 15px;
  color: #EFEFEF;
  margin-left: 12px;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(114, 124, 245, 0.3);
}
form .submit-btn {
  background: #727CF5;
}
form .submit-btn:hover {
  background: #5a66f3;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, 0.5);
}
form .reset-btn {
  background: #FFF;
  color: rgba(0, 0, 0, 0.6);
}
form .reset-btn:hover {
  box-shadow: 0 2px 5px 0 rgba(114, 124, 245, 0.3);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* form style end */
/* table style start */
.table {
  font-size: 15px;
}
.table th, .table td {
  padding: 11px 12px;
  color: rgba(0, 0, 0, 0.6);
}
.table th {
  font-weight: 500;
}
.table .table-action {
  max-width: 45px !important;
  text-align: right;
}
.table .table-action a {
  color: #98a6ad;
  padding-left: 15px;
}
.table .table-action a:hover {
  color: #727CF5;
}
.table .input {
  text-align: right;
  background: #FFF;
  padding: 0;
  max-width: 120px;
  height: 44px;
  line-height: 44px;
}
.table .input input {
  text-align: right;
  outline: none;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  padding: 0 12px;
}

/* table style end */
/* pagination style start */
.pagination {
  padding: 5px 0;
}
.pagination .page-item {
  border-radius: 0;
}
.pagination .page-item .page-link {
  border-radius: 0 !important;
  padding: 10px 15px;
}
.pagination .page-item .page-link:focus {
  box-shadow: none;
}
.pagination .page-item.active .page-link {
  background: #727CF5;
  color: #FFF;
}

/* pagination style end */
/* wrapper cover style */
.wrapper-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.5);
  z-index: 1000;
}
.wrapper-background.none {
  display: none;
}

/* responsive style start */
@media only screen and (min-width: 992px) {
  .wrapper-background {
    display: none;
  }

  .column.aside {
    position: static;
  }
  .column.aside #aside-close {
    display: none;
  }
}

/*# sourceMappingURL=master.css.map */
