/* profile header start */
.profile-header {
  padding: 1.5rem;
  background: linear-gradient(to right, #8279E7, #727CF5);
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}
.profile-header .profile-pic {
  width: 110px;
  height: 110px;
  margin-right: 25px;
  border: 1px solid #8a92f7;
}
.profile-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-header h4 {
  font-size: 19px;
  color: #FFF;
  margin: 2px 0 8px;
}
.profile-header h5 {
  color: #FFF;
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: 15px;
}
.profile-header p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
}

/* profile header end */
/* profile info start */
.profile-info {
  background: #FFF;
  border: 1px solid #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  padding: 23px 23px 20px;
  margin-bottom: 15px;
}
.profile-info h4 {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  color: #727CF5;
  margin-bottom: 15px;
}
.profile-info p {
  color: #6c757d;
}
.profile-info p span {
  margin-left: 10px;
}
.profile-info a {
  display: inline-block;
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 17px;
}
.profile-info a:hover {
  color: #727CF5;
}

/* profile info end */
/* edit profile start */
.profile-edit {
  background: #FFF;
  border: 1px solid #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  margin-bottom: 15px;
}
.profile-edit .nav-tabs {
  display: flex;
  padding: 25px;
}
.profile-edit .nav-tabs .nav-link {
  color: #FFF;
  min-width: 115px;
  border: none;
  margin-right: 5px;
  background: #CCCCCC;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0 22px 0 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.profile-edit .nav-tabs .nav-link span {
  background: rgba(0, 0, 0, 0.1);
  min-width: 45px;
  padding-right: 8px;
  height: 100%;
  left: 0;
  top: 0;
  display: inline-block;
  margin-right: 6px;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 0 100%, 73% 100%, 100% 52%, 73% 0);
  clip-path: polygon(0 0, 0 100%, 73% 100%, 100% 52%, 73% 0);
}
.profile-edit nav a.active {
  background: #727CF5 !important;
}
.profile-edit .form-content {
  padding: 25px 25px 15px;
}
.profile-edit form {
  margin-bottom: 0;
}
.profile-edit .success-content {
  text-align: center;
  padding: 35px 30px 45px;
}
.profile-edit .success-content p {
  color: #6c757d;
}

/* edit profile end */

/*# sourceMappingURL=profile.css.map */
