*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {font-family: 'Nunito Sans', sans-serif;}

a,
a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}
p {
    font-size: 15px;
    color: #212529;
}
ul, ol {list-style-type: none;}

.io-15 {font-size: 15px;}
.io-16 {font-size: 16px;}
.io-17 {font-size: 17px;}
.io-18 {font-size: 18px;}
.io-19 {font-size: 19px;}
.io-20 {font-size: 20px;}
.io-22 {font-size: 22px;}
.io-24 {font-size: 24px;}
.io-25 {font-size: 25px;}
.io-26 {font-size: 26px;}
.io-27 {font-size: 27px;}
.io-28 {font-size: 28px;}
.io-30 {font-size: 30px;}
.io-32 {font-size: 32px;}
