.login-section {
    background: url('../images/bg-img/credential-bd.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

/* login section start */
.credential-div {
    padding: 75px 15px;
    height: 100vh;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(#12263F, .8);
    color: #FFF;
    .form {
        background: rgba(#12263F, .5);
        max-width: 375px;
        width: 100%;
        h2 {
            background: rgba(#12263F, .7);
            padding: 25px 25px 20px;
            font-size: 27px;
            font-weight: 300;
            color: rgba(#FFF, .8);
        }
        form {
            padding: 15px 25px 0;
            label {
                color: rgba(#FFF, .7);
                font-weight: 300;
            }
            input {
                border: none;
                border-bottom: 1px solid rgba(#FFF, .8);
                background: none;
                color: rgba(#FFF, .8) !important;
                padding-left: 0;
                margin-bottom: 25px;
                font-weight: 300;
                &:focus {background: none;}
                &::-webkit-input-placeholder {
                    color: rgba(#FFF, .7);
                    font-weight: 300;
                }
            }
            input[type=checkbox] {display: none;}
            input[type=checkbox] + label:before {
                content: "\2714";
                border: 1px solid rgba(#FFF, .7);
                display: inline-block;
                width: 14px;
                height: 14px;
                vertical-align: top;
                text-align: center;
                margin: 3px 8px 0 -19px;
                color: transparent;
                transition: .2s;
                font-size: 10px;
            }

            input[type=checkbox]:checked + label:before {
                background-color: rgba(#12263F, .6);
                border-color: rgba(#FFF, .8);
                color: rgba(#FFF, .8);
            }
            button {
                text-align: center;
                margin: 15px 8px 0 1px;
                background: rgba(#12263F, .3);
                display: inline-block;
                color: rgba(#FFF, .7);
                font-weight: 300;
                box-shadow: none;
                border: 1px solid lighten(rgba(#12263F, .3), 17%);
                cursor: pointer;
                &:hover {color: #FFF;}
            }
            a {
                color: rgba(#FFF, .7);
                margin-top: 3px;
                font-weight: 300;
                &:hover {
                    color: rgba(#FFF, .8);
                    text-decoration: underline;
                }
            }
        }
    }
}
/* login section end */





/* company title start */
.company-title {
    width: calc(100% - 500px);
    height: 100vh;
    padding: 75px 0;
    background: rgba(#0083CB, .2);
}
/* company title end */





/* responsive style start */
@media only screen and (max-width: 992px)  {
    .credential-div,
    .company-title {
        width: 100% !important;
        min-height: 50vh;
        height: auto;
    }
}
/* responsive style end */
