/* Error page start */
.error-section {background: #F5F9FC;}
.error-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px 0 75px;
    .text-error {
        color: #727cf5;
        text-shadow: rgba(114,124,245,.3) 5px 1px, rgba(114,124,245,.2) 10px 3px;
        font-size: 5.25rem;
        line-height: 5.625rem;
        font-weight: 700;
    }
    h4 {
        color: #fa5c7c;
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0 20px;
    }
    p {
        color: rgba(#000, .5);
        margin-bottom: 30px;
    }
    .btn-info {
        color: #fff;
        background-color: #39afd1;
        border-color: #39afd1;
        box-shadow: 0 2px 6px 0 rgba(57,175,209,.5);
        font-size: 14px;
    }
}
/* Error page end */
