@import "partials/init";
/* common style start */
.wrapper {
    display: flex;
    width: 100%;
    background: #F5F9FC;
    .column {
        width: 100%;
        height: 100vh;
    }
}
.brand, .main-nav {
    width: 100%;
    height: 70px;
    line-height: 70px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
}
.aside-nav, .body-container {
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
}
/* common style end */





/* brand style start */
.brand {
    padding: 0 20px;
    height: 70px;
    font-weight: 300;
    line-height: 70px;
    overflow: hidden;
    span {
        color: #FFF;
        font-size: 21px;
        font-weight: 400;
    }
    a {
        float: right;
        cursor: default;
        float: right;
        height: 70px;
        line-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1px;
        color: #FFF;
    }
    #aside-close {
        cursor: pointer;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: lighten(#404b5b, 7%);
        transition: all .2s;
        &:hover {background: #727CF5;}
    }
}
.wrapper.aside-close .aside {
    opacity: 0;
    max-width: 0;
    .aside-nav {display: none;}
}
/* brand style end */





/* aside nav style start */
.column.aside {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 250px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    z-index: 1001;
    background: linear-gradient(to bottom, #8279E7, #727CF5);
}
.aside-nav {
    padding: 20px;
    h6 {
        color: rgba(#FFF, .8);
        margin-bottom: 12px;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: .5px;
    }
    li {
        border: 1px solid transparent;
        a {
            display: block;
            font-size: 16px;
            font-weight: 300;
            color: rgba(#FFF, .7);
            height: 40px;
            line-height: 40px;
            i {
                margin-right: 17px;
                vertical-align: top;
                line-height: 42px;
                display: inline-block;
            }
            .badge {
                top: 20px;
                font-size: 12px;
                font-weight: 400;
                margin-top: 12px;
                padding: 4px 7px 3px;
                border-radius: 10px;
                background: #E3EAEF;
                color: #000;
            }
            &:hover {color: #FFF;}
        }
        &.active > a {color: #FFF;}
        .float-right i {margin-right: 6px;}
        ul {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            a {padding-left: 33px;}
        }
        &.active ul {
            max-height: 100vh;
            opacity: 1;
        }
        i.down {display: none;}
        &.active i.down {display: inherit;}
        &.active i.right {display: none;}
    }
}
/* aside style end */





/* settings content start */
.settings-content {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 250px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    z-index: 1001;
    opacity: 0;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.05), 0 1px 0 0 rgba(0,0,0,0.05);
    .settings-nav {
        background: #3A3F51;
        box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
        padding: 0 15px;
        height: 70px;
        line-height: 70px;
        width: 100%;
        font-weight: 300;
        overflow: hidden;
        span {
            color: #FFF;
            font-size: 18px;
        }
        a {
            float: right;
            height: 70px;
            line-height: 70px;
            cursor: default;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2px;
            color: #FFF;
            i {
                cursor: pointer;
                width: 22px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: lighten(#404b5b, 7%);
                transition: all .2s;
                &:hover {background: #727CF5;}
            }
        }
    }
    .settings-menu {
        width: 100%;
        background: #FFF;
        height: calc(100vh - 64px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &.open {
        opacity: 1;
        right: 0;
    }
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {background-color: #727cf5;}
.timeline-alt {
    padding: 20px 0;
    position:relative;
    &:before {
        background-color: #e3eaef;
        bottom: 30px;
        content: "";
        left: 9px;
        position: absolute;
        top: 30px;
        width: 2px;
        z-index: 0;
    }
    .timeline-item {
        position:relative;
        .timeline-icon {
            float: left;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 2px solid transparent;
            font-size: 12px;
            text-align: center;
            line-height: 16px;
            background-color:#fff;
        }
        .timeline-item-info {margin-left:30px;}
    }
    .text-info {color:#39afd1!important;}
    a.text-info:focus,a.text-info:hover {color:#2991ae!important;}
    .text-muted {color:#98a6ad!important;}
    .mdi-upload:before {content:"\F552";}
    .mdi-upload-multiple:before {content:"\F83C";}
    .mdi-upload-network:before{content:"\F6F5";}
    .mdi-airplane:before {content:"\F01D";}
    .mdi-airplane-landing:before {content:"\F5D4";}
    .mdi-airplane-off:before {content:"\F01E";}
    .mdi-airplane-takeoff:before {content:"\F5D5";}
}
/* settings content end */





/* body nav style start */
.main-nav {
    padding: 0 20px;
    background: #FFF;
    ul {
        height: 70px;
        line-height: 70px;
        margin: 0;
        li {float: left;}
        &.float-right {
            li {margin-left: 20px;}
        }
        a {color: #727CF5;}
        img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #727CF5;
            padding: 2px;
            background: #ddd;
            margin-top: -5px;
        }
        .dropdown {
    		position: relative;
    		.sub-menu {
                box-shadow: 0 2px 5px rgba(0,0,0,.07);
                border: 1px solid #ddd;
    			position: absolute;
    			top: 150%;
    			max-width: 240px;
                width: 235px;
    			opacity: 0;
    			right: 0;
    			background: white;
    			z-index: -9;
    			transition: all .2s;
                height: auto;
                li {
                    margin: 0;
                    width: 100%;
                    height: auto;
                    line-height: 24px;
                    &.head {
                        background: #EDF1F2;
                        a {padding: 12px 15px 8px;}
                        h6 {
                            font-weight: 400;
                            margin: 0;
                        }
                        &:hover {background: #F5F5F5;}
                    }
                    a {
                        border-bottom: 1px solid #EDF1F2;
        				display: inline-block;
        				width: 100%;
                        font-size: 14px;
        				padding: 7px 15px;
        				color: #58666E;
        				&:hover {color: #727CF5;}
                        .badge {
                            font-size: 11px;
                            font-weight: 400;
                            margin-top: 3px;
                            padding: 4px 7px 3px;
                            border-radius: 10px;
                            background: #6C757D;
                            color: #FFF;
                        }
        			}
                }
                small {
                    display: inline-block;
                    width: 100%;
                }
    		}
    	}
        .dropdown.active {
            ul.sub-menu {
                opacity: 1;
    			top: 103%;
    			z-index: 999;
            }
        }
    }
}
/* body nav style end */





/* body header and nav start */
.body-header {
    width: 100%;
    min-height: 54px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    margin-bottom: 35px;
    padding: 22px 5px 0;
    h3 {
        font-size: 22px;
        margin: 0;
        color: #727CF5;
    }
    ul {
        margin: 0;
        li {
            float: left;
            a {
                display: inline-block;
                margin-top: 15px;
                margin-bottom: -1px;
                font-size: 15px;
                padding-bottom: 3px;
                color: rgba(0, 0, 0, 0.85);
                &:hover,
                &.active {
                    color: #727CF5;
                    border-bottom: 1px solid #727CF5;
                }
            }
        }
        &.float-left {
            a {margin-right: 20px;}
        }
        &.float-right {
            a {margin-left: 20px;}
        }
    }
}
/* body header and nav end */





/* body content start */
.body-content {
    padding: 5px;
    width: 100%;
}
/* body content end */





/* alert style start */
.alert {
    border-radius: 0;
    margin-bottom: 20px;
}
/* alert style end */



/* form style start */
form {
    font-size: 15px;
    margin: -5px 0 30px;
    label {color: rgba(0, 0, 0, 0.6);}
    .required {
        label {
            &:after {
                content: " *";
                color: #D9534F;
            }
        }
    }
    .form-control {
		border-radius: 0;
		&:focus {
			box-shadow: none;
			border-color: rgba(#727CF5, .7);
		}
	}
    .form-control::-webkit-input-placeholder {color: rgba(#000, .3);}
    .form-control::placeholder {color: rgba(#000, .3);}
    .form-check {
        padding-top: 5px;
        cursor: pointer;
        input {
            margin-top: 3px;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
        label {cursor: pointer;}
    }
	.btn {
		border: none;
		height: 36px;
		line-height: 36px;
		padding: 0 15px;
		min-width: 90px;
		font-size: 15px;
        color: #EFEFEF;
        margin-left: 12px;
        border-radius: 0;
        box-shadow: 0 1px 3px 0 rgba(114,124,245,.3);
	}
    .submit-btn {
        background: #727CF5;
        &:hover {
            background: darken(#727CF5, 5%);
            box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
        }
    }
    .reset-btn {
        background: #FFF;
        color: rgba(0, 0, 0, 0.6);
        &:hover {box-shadow: 0 2px 5px 0 rgba(114,124,245,.3);}
    }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance:         none;
}
input[type=number] {-moz-appearance: textfield;}
input {color: rgba(0, 0, 0, 0.6) !important;}
/* form style end */





/* table style start */
.table {
    font-size: 15px;
    th,td {
        padding: 11px 12px;
        color: rgba(0, 0, 0, 0.6);
    }
    th {font-weight: 500;}
    .table-action {
        max-width: 45px !important;
        text-align: right;
        a {
            color: #98a6ad;
            padding-left: 15px;
            &:hover {color: #727CF5;}
        }
    }
    .input {
        text-align: right;
        background: #FFF;
        padding: 0;
        max-width: 120px;
        height: 44px;
        line-height: 44px;
        input {
            text-align: right;
            outline: none;
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            padding: 0 12px;
        }
    }
}
/* table style end */





/* pagination style start */
.pagination {
	padding: 5px 0;
	.page-item {
		border-radius: 0;
		.page-link {
			border-radius: 0 !important;
			padding: 10px 15px;
            &:focus {box-shadow: none;}
		}
	}
    .page-item.active .page-link {
        background: #727CF5;
        color: #FFF;
    }
}
/* pagination style end */





/* wrapper cover style */
.wrapper-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.5);
    z-index: 1000;
    &.none {display: none;}
}





/* responsive style start */
@media only screen and (min-width: 992px)  {
    .wrapper-background {display: none;}
    .column.aside {
        position: static;
        & #aside-close {display: none;}
    }
}
