/* profile header start */
.profile-header {
    padding: 1.5rem;
    background: linear-gradient(to right, #8279E7, #727CF5);
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    .profile-pic {
        width: 110px;
        height: 110px;
        margin-right: 25px;
        border: 1px solid lighten(#727CF5, 5%);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h4 {
        font-size: 19px;
        color: #FFF;
        margin: 2px 0 8px;
    }
    h5 {
        color: #FFF;
        font-size: 16px;
        margin-bottom: 6px;
        margin-top: 15px;
    }
    p {
        font-size: 13px;
        color: rgba(#FFF, .7);
        margin-bottom: 0;
    }
}
/* profile header end */





/* profile info start */
.profile-info {
    background: #FFF;
    border: 1px solid #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    padding: 23px 23px 20px;
    margin-bottom: 15px;
    h4 {
        font-weight: 300;
        font-size: 24px;
        margin: 0;
        color: #727CF5;
        margin-bottom: 15px;
    }
    p {
        color: #6c757d;
        span {margin-left: 10px;}
    }
    a {
        display: inline-block;
        text-align: center;
        width: 28px;
        height: 28px;
        line-height: 28px;
        margin-left: 5px;
        color: rgba(#000, .3);
        font-size: 17px;
        &:hover {color: #727CF5;}
    }
}
/* profile info end */






/* edit profile start */
.profile-edit {
    background: #FFF;
    border: 1px solid #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    margin-bottom: 15px;
    .nav-tabs {
        display: flex;
        padding: 25px;
        .nav-link {
            color: #FFF;
            min-width: 115px;
            border: none;
            margin-right: 5px;
            background: #CCCCCC;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 0 22px 0 0;
            height: 40px;
            line-height: 40px;
            text-align: center;
            span {
                background: rgba(#000, .1);
                min-width: 45px;
                padding-right: 8px;
                height: 100%;
                left: 0;
                top: 0;
                display: inline-block;
                margin-right: 6px;
                text-align: center;
                -webkit-clip-path: polygon(0 0, 0 100%, 73% 100%, 100% 52%, 73% 0);
                clip-path: polygon(0 0, 0 100%, 73% 100%, 100% 52%, 73% 0);
            }
        }
    }
    nav a.active {background: #727CF5 !important;}

    .form-content {padding: 25px 25px 15px;}
    form {margin-bottom: 0;}
    .success-content {
        text-align: center;
        padding: 35px 30px 45px;
        p {color: #6c757d;}
    }
}
/* edit profile end */
